<launch>
  <!-- bringup turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>

  <!-- Start getting images from the camera -->
  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="width" value="640"/>
    <param name="height" value="480"/>
 
    <param name="framerate" value="10"/>
    <param name="exposure_mode" value="antishake"/>
    <param name="shutter_speed" value="0"/>
  </node>

  <!-- deploy person detection system -->
  <include file="$(find person_detection_robot)/launch/person_detection.launch">
    <arg name="use_sim_time" value="false" />
    <arg name="use_polly" value="true" />
    <arg name="image_topic" value="/raspicam_node/image"/>
  </include>
</launch>