<launch>
  <!-- AWS region with default -->
  <arg name="aws_region" value="$(optenv ROS_AWS_REGION us-west-2)" doc="AWS region override, defaults to us-west-2 if unset"/>

  <!-- Optional launch ID, if specified, used for suffixing resource names -->
  <arg name="launch_id" value="$(optenv LAUNCH_ID)" doc="Used for resource name suffix if specified"/>

  <!-- The following allows for parameterization and defaulting to config -->
  <arg name="stream_name" default="RoboMakerPersonDetectionVideoStream" />
  <arg name="rekognition_data_stream" default="AmazonRekognitionPersonDetectionStream" />

  <!-- If a stream config file argument is provided by the caller then we will load it into the node's namespace -->
  <arg name="stream_config" default="$(find person_detection_robot)/config/kvs_config.yaml" />

  <!-- Overwrites the image topic from config file if provided -->
  <arg name="image_topic" default="" />

  <!-- Helper arguments used in multiple places, and not intended to be specified -->
  <arg name="node_name" default="kinesis_video_streamer" />
  <arg name="node_namespace" default="kinesis_video/stream0" />
  <arg name="param_prefix" default="$(arg node_name)/$(arg node_namespace)" />

  <!--Launch encoder node for kinesis video stream-->
  <include file="$(find h264_video_encoder)/launch/h264_video_encoder.launch">
    <arg name="config_file" value="$(find person_detection_robot)/config/h264_encoder_config.yaml"/>
    <arg name="image_transport" value="raw"/>
  </include>
  <rosparam if="$(eval image_topic != '')" param="/$(arg param_prefix)/subscription_topic" subst_value="true">$(arg image_topic)</rosparam>

  <include file="$(find kinesis_video_streamer)/launch/kinesis_video_streamer.launch" >
    <!-- The configuration can either be passed in using the "config_file" parameter or by using a rosparam tag
            to load the config into the parameter server -->
    <arg name="config_file" value="$(arg stream_config)"/>
  </include>
  <param name="/kinesis_video_streamer/aws_client_configuration/region" value="$(arg aws_region)" />
  <param name="/kinesis_video_streamer/kinesis_video/log4cplus_config" value="$(find kinesis_video_streamer)/kvs_log_configuration" />
  <param name="/kinesis_video_streamer/kinesis_video/stream_count" value="1" />
  <rosparam if="$(eval launch_id != '')" param="/$(arg param_prefix)/rekognition_data_stream" subst_value="true">$(arg rekognition_data_stream)-$(arg launch_id)</rosparam>
  <rosparam if="$(eval launch_id != '')" param="/$(arg param_prefix)/stream_name" subst_value="true">$(arg stream_name)-$(arg launch_id)</rosparam>
</launch>

