<launch>
  <!-- 
        Include this file to enable CloudWatch monitoring of operational and health metrics. 
        Your robot will report metrics to CloudWatch Metrics and logs to CloudWatch Logs.
   
        See rotate.launch for example <include> usage. 
  -->

  <!-- Optional AWS region, if empty uses the config defaults -->
  <arg name="aws_region" value="$(optenv ROS_AWS_REGION)" doc="AWS region override, defaults to config .yaml if unset"/>

  <!-- Optional launch ID, if specified, used for suffixing resource names -->
  <arg name="launch_id" value="$(optenv LAUNCH_ID)" doc="Used for resource name suffix if specified"/>
  
  <arg name="node_name" value="cloudwatch_logger"/>

  <!-- Enable CloudWatch logging, send /rosout to CW Logs -->
  <arg name="log_group_name" default="robomaker_person_detection_example"/>
  <include file="$(find cloudwatch_logger)/launch/cloudwatch_logger.launch">
    <arg name="config_file" value="$(find person_detection_robot)/config/cloudwatch_logs_config.yaml"/>
    <arg name="node_name" value="$(arg node_name)"/>
  </include>
  <rosparam if="$(eval aws_region != '')" param="/$(arg node_name)/aws_client_configuration/region" subst_value="true">$(arg aws_region)</rosparam>
  <rosparam if="$(eval launch_id != '')" param="/$(arg node_name)/log_group_name" subst_value="true">$(arg log_group_name)-$(arg launch_id)</rosparam>
</launch>