<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 

       See http://wiki.ros.org/Clock

       Note: set to false for deploying to a real robot.
  -->
  <arg name="image_topic" default=""/>
  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Launch the Kinesis Video Stream node 
       See its .launch file for parameterizing AWS region and resource names
   -->
  <include file="$(find person_detection_robot)/launch/kinesis.launch">
    <param name="image_topic" value="$(arg image_topic)"/>
  </include>

  <!-- Launch node to extract names from Rekognition results. Sends Polly/voice requests. -->
  <node name="rekognize" pkg="person_detection_robot" type="rekognize" output="screen"/>

  <!-- Launch Polly if enabled -->
  <arg name="use_polly" default="false"/>
  <group if="$(arg use_polly)">
      <include file="$(find tts)/launch/tts_polly.launch"/>
      <node name="rekognize_tts" pkg="person_detection_robot" type="rekognize_tts" output="screen"/>
  </group>

  <!-- Launch Logging -->
  <include file="$(find person_detection_robot)/launch/monitoring.launch"/>

</launch>

